body{
    text-align: center;
    background-color: #FF00E7;
    color: fuchsia;
}
#kereso{
    background-color: #00ECFF;
    border: khaki 5px solid;
    padding: 10px;
    font-size: xx-large;
    color: coral;
}
#gomb{
    all: unset;
    border: #ff1a00 solid 5px;
    margin-left: 60px;
    padding: 10px;
    font-size: xx-large;
    background-color: darkblue;
    color: #009b00;
}